---
title: Stripe Donation
---
<button class="btn btn-primary btn-lg" id="stripe-button">
   Checkout <span class="glyphicon glyphicon-shopping-cart"></span>
 </button>

 <script>
   $('#stripe-button').click(function(){
     var token = function(res){
       var $id = $('<input type=hidden name=stripeToken />').val(res.id);
       var $email = $('<input type=hidden name=stripeEmail />').val(res.email);
       $('form').append($id).append($email).submit();
     };

     var amount = $("#stripeAmount").val();
     StripeCheckout.open({
       key:         'pk_test_stHQrxMgHUHFDUvGy66y7tUG00TF378X9W',
       amount:      10,
       name:        'Serendipity Artisan Blends',
       panelLabel:  'Checkout',
       token:       token
     });

     return false;
   });
 </script>
